# API Ignore Rules
/**/bin/
/**/obj/
/**/.vs/
/**/appsettings.Development.json
/**/appsettings.json
/**/Properties/launchSettings.json
/**/Data/snappshare.db

# Web Ignore Rules
/web/node_modules/
/web/.vite/

# General
.env

.fake

.vscode/launch.json

credentials.txt

snappshare.db
snappshare.db-*